# Python virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# PyCharm / IntelliJ
.idea/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Dataset
final_project.ods